body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: #ffffff; /* White background for the page */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
